@page
@model RBN_FE.Pages.HomeEvent.HomeEventDetailModel
@{
    ViewData["Title"] = Model.EventDetail?.Title ?? "Chi tiết Sự kiện";
}

<partial name="_Header" />

<div class="flex flex-wrap text-slate-800 max-h-8xl my-auto border-1 border-gray-200 rounded-lg shadow-lg">
    <div class="relative hidden h-[89vh] select-none flex-col justify-center bg-cover bg-center text-center md:flex md:w-1/2" style="background-image: url('@(Model.EventDetail?.EventImg?.ImageUrl ?? "/images/default-event-image.png")');">
        <div class="absolute inset-0 bg-gray-900 bg-opacity-50"></div>
        <a href="javascript:history.back()" class="absolute top-4 left-4 group inline-flex items-center overflow-hidden rounded border border-white px-4 py-2 text-white hover:bg-blue-600 hover:text-white transition-all duration-300 focus:outline-none focus:ring active:bg-blue-700 z-20">
            <span class="mr-2 transition-transform group-hover:-translate-x-1">
                <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16l-4-4m0 0l4-4m-4 4h18" />
                </svg>
            </span>
            <span class="text-sm font-medium"> Quay lại </span>
        </a>
        <div class="relative z-10 mx-auto py-16 px-8 text-white">
            <p class="my-6 text-4xl font-bold leading-10">ĐẶT ĐƠN VÀ GỬI YÊU CẦU CỦA BẠN!</span></p>
            <p class="mb-4 text-lg font-medium">CHÚNG TÔI SẼ NHANH CHÓNG LIÊN HỆ VỚI BẠN</p>
        </div>
    </div>
    <div class="flex w-full  flex-col md:w-1/2">
        <div class="my-10 flex w-full flex-col justify-center px-6 md:pl-12 sm:pt-0 md:justify-start">
            @if (Model.EventDetail != null)
            {
                <div class="bg-white rounded-lg shadow-lg p-6 mb-8">
                    <div class="flex justify-between items-center mb-4">
                        <h2 class="text-4xl font-bold text-gray-800">Tiêu đề: @Model.EventDetail.Title</h2>
                    </div>
                    <div class="grid grid-cols-3 gap-4 text-lg">
                        <div>
                            <p class="font-semibold text-gray-600">Loại:</p>
                            <p class="text-2xl font-bold text-gray-800">@Model.EventDetail.EventType</p>
                        </div>
                        <div>
                            <p class="font-semibold text-gray-600">Giá:</p>
                            <p class="text-2xl font-bold text-green-600">
                                @Model.EventDetail.Price.ToString("#,##0") VND
                            </p>
                        </div>
                        <div>
                            <p class="font-semibold text-gray-600">Công ty:</p>
                            <p class="text-2xl font-bold text-gray-800">@Model.EventDetail.Company?.Name</p>
                        </div>
                    </div>
                    <p class="mt-4 text-gray-600 whitespace-normal break-words">Mô tả sự kiện: @Model.EventDetail.Description</p>
                </div>
            }
            else
            {
                <h2 class="text-center text-3xl font-bold md:text-left mb-4">Không tìm thấy sự kiện.</h2>
            }

            <h3 class="text-2xl font-bold mb-4">Mẫu đặt sự kiện</h3>
            <form method="post" class="flex flex-col items-stretch pt-3 pb-8 md:pt-8">
                <div class="grid gap-x-4 gap-y-3 sm:grid-cols-2">
                    <label class="block" for="FullName">
                        <p class="mb-1 mt-2 text-sm text-gray-600">Họ và tên</p>
                        <input asp-for="Booking.FullName" class="w-full rounded-md border bg-white py-2 px-2 outline-none ring-yellow-500 focus:ring-2" type="text" placeholder="Nhập họ và tên của bạn" required />
                    </label>
                    <label class="block" for="Email">
                        <p class="mb-1 mt-2 text-sm text-gray-600">Email</p>
                        <input asp-for="Booking.Email" class="w-full rounded-md border bg-white py-2 px-2 outline-none ring-yellow-500 focus:ring-2" type="email" placeholder="Nhập email của bạn" required />
                    </label>
                    <label class="block" for="Phone">
                        <p class="mb-1 mt-2 text-sm text-gray-600">Số điện thoại</p>
                        <input asp-for="Booking.Phone" class="w-full rounded-md border bg-white py-2 px-2 outline-none ring-yellow-500 focus:ring-2" type="tel" placeholder="Nhập số điện thoại của bạn" required />
                    </label>
                    <label class="block" for="Address">
                        <p class="mb-1 mt-2 text-sm text-gray-600">Địa chỉ</p>
                        <input asp-for="Booking.Address" class="w-full rounded-md border bg-white py-2 px-2 outline-none ring-yellow-500 focus:ring-2" type="text" placeholder="Nhập địa chỉ của bạn" required />
                    </label>
                    <label class="block" for="Quantity">
                        <p class="mb-1 mt-2 text-sm text-gray-600">Số lượng</p>
                        <input id="quantityInput" asp-for="Booking.Quantity" class="w-full rounded-md border bg-white py-2 px-2 outline-none ring-yellow-500 focus:ring-2" type="number" placeholder="Nhập số lượng" value="1" min="1" required />
                    </label>
                    <label class="block sm:col-span-2" for="UserNote">
                        <p class="mb-1 mt-2 text-sm text-gray-600">Yêu cầu đặc biệt</p>
                        <textarea asp-for="Booking.UserNote" class="h-32 w-full rounded-md border bg-white py-2 px-2 outline-none ring-yellow-500 focus:ring-2" placeholder="Viết yêu cầu đặc biệt của bạn tại đây"></textarea>
                    </label>
                </div>
                <div>
                    <label class="block sm:col-span-2" for="Total">
                        <h1 class="font-semibold text-gray-800">Tổng cộng:</h1>
                        <h1 id="totalPrice" class="text-2xl font-bold text-green-700"> </h1>
                    </label>
                </div>
                <button type="submit" class="mt-6 rounded-full bg-blue-500 px-4 py-2 text-center text-base font-semibold text-white shadow-md outline-none ring-blue-600 ring-offset-2 transition hover:bg-blue-600 focus:ring-2 md:w-40">
                    Đặt ngay
                </button>
            </form>

           
        </div>
    </div>
</div>
@if (Model.RelatedEvents != null && Model.RelatedEvents.Count > 0)
{
    <div class="relative mt-8 mb-4">
        <div class="absolute inset-0 flex items-center" aria-hidden="true">
            <div class="w-full border-t border-gray-300 dark:border-gray-600"></div>
        </div>
        <div class="relative flex justify-center">
            <span class="px-3 bg-gray-100 text-4xl font-light text-gray-900 ">
                Các sự kiện liên quan khác 
            </span>
        </div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 scrollable-container mx-4">
        @foreach (var relatedEvent in Model.RelatedEvents)
        {
            <div class="flex flex-col mb-10 items-center border border-gray-200 rounded-lg shadow-lg p-4">
                <div class="w-full mb-6">
                    <img class="object-cover object-center rounded w-full h-[300px]" src="@relatedEvent.EventImg?.ImageUrl" alt="@relatedEvent.Title">
                </div>
                <div class="w-full text-center">
                    <h2 class="text-sm title-font text-gray-500 tracking-widest mb-1">@relatedEvent.EventType</h2>
                    <h1 class="text-gray-900 text-4xl title-font font-medium mb-4 truncate">@relatedEvent.Title</h1>
                    <p class="leading-relaxed text-lg mb-4 overflow-hidden line-clamp-3">@relatedEvent.Description</p>
                    <a asp-page="/HomeEvent/HomeEventDetail" asp-route-id="@relatedEvent.Id" class="flex items-center justify-center text-indigo-700 border border-indigo-600 py-2 px-6 gap-2 rounded">
                        <span>
                            XEM CHI TIẾT
                        </span>
                        <svg class="w-4 h-4" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24">
                            <path d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
                        </svg>
                    </a>
                </div>
            </div>
        }
    </div>
}
else
{
    <div class="relative mt-8 mb-4">
        <div class="absolute inset-0 flex items-center" aria-hidden="true">
            <div class="w-full border-t border-gray-300 dark:border-gray-600"></div>
        </div>
        <div class="relative flex justify-center">
            <span class="px-3 bg-gray-100 text-4xl font-light text-gray-900 ">
                Các sự kiện liên quan khác
            </span>
        </div>
    </div>
    <div class="relative flex justify-center mb-4">
        <span class="px-3 bg-gray-100 text-2xl font-light text-gray-900 ">
            Không tìm thấy sự kiện liên quan nào.
        </span>
    </div>
}
<partial name="_Footer" />
<script>
    var eventPrice = @Model.EventDetail.Price;

    var quantityInput = document.getElementById('quantityInput');
    var totalPriceInput = document.getElementById('totalPrice');

    function updateTotalPrice() {
        var quantity = parseInt(quantityInput.value) || 1; 
        var totalPrice = quantity * eventPrice; 
        totalPriceInput.innerText = totalPrice.toLocaleString('vi-VN') + ' VND';

    }

    updateTotalPrice();

    quantityInput.addEventListener('input', updateTotalPrice);
</script>
<style>
    .scrollable-container {
        overflow-x: auto;
        white-space: nowrap;
        padding: 15px 0;
        -webkit-overflow-scrolling: touch;
    }

    .scrollable-card {
        display: inline-block;
        width: 18rem;
        margin-right: 15px;
        vertical-align: top;
    }
</style>